<form id="theripper-premium-hub" class="theripper-premium-hub-announcements">
    <ol>
        {{#each this}}
        <li>
            <h2>{{title}}</h2>
            <p>{{content}}</p>
        </li>
        {{/each}}
    </ol>
    <p style="text-align: center;">Want to support me and get access to premium modules? <a href="https://theripper93.com/" target="_blank" rel="nofollow" title="https://theripper93.com/">Check out my Website</a></p>
</form>