<form id="theripper-premium-hub" class="theripper-premium-hub-announcements">
    <ol>
        {{#each this}}
        <li>
            <h2>{{title}}</h2>
            <p>{{content}}</p>
        </li>
        {{/each}}
    </ol>
</form>