<div id="theripper-premium-hub">
    <ol class="scrollable" style="max-height: 70vh;">
        {{#each this}}
        <li>
            <h2>{{title}}</h2>
            <div class="flexcol">
                <label style="font-weight: bold;font-size: medium;">Version: {{currentVersion}} → {{version}}</label>
                <p>{{{latestChangeLog}}}</p>
            </div>
        </li>
        {{/each}}
    </ol>
</div>