<form id="theripper-premium-hub">
    <ol>
        {{#each this}}
        <li>
            <h2>{{title}}</h2>
            <div class="form-group slim">
                <label>Version: {{currentVersion}} → {{version}}</label>
            </div>
        </li>
        {{/each}}
    </ol>
</form>